<app-loading [loading]="loading"></app-loading>
<div id="toggleDiv">
    <div>
        <h2 class="title">
            <span>
                Welcome Sign In User : {{signInUser?.firstName}}  {{signInUser?.middleName}}  {{signInUser?.lastName}}, Your Sign in User ID is {{signInUser?.id}}<br>
                Please select date and time to complete sign in process !
            </span>
        </h2>
    </div>
    <div class='date-time-management'>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateSelectDateAndTimeForm" nzNoColon="true" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control class="controlSet" [nzSm]="18" [nzXs]="50" nzErrorTip="Please Select a Date !">
                    <nz-date-picker class="date-picker signIn-date" formControlName="selectDate" nzPlaceHolder="Please Select a Date" nzFormat="YYYY/MM/dd" nzInputReadOnly="true" nzShowToday="true" [nzDisabledDate]="disabledDate" (ngModelChange)="verifyDateAndTime()" ></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control class="controlSet"  class="signIn-time-control"[nzSm]="18" [nzXs]="50" nzErrorTip="Please Select a Time !">
                    <nz-time-picker class="date-picker" formControlName="selectTime" nzPlaceHolder="Please Select a Time" nzFormat="HH:mm"  nzInputReadOnly="true" [nzMinuteStep]="15" [nzDefaultOpenValue]="defaultTimeOpenValue" (ngModelChange)="verifyTime()"></nz-time-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button [disabled]="!IsAbleToCheckIn" class="fancy-button checkIn">Check In</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>
<div class="sign-in-body" *ngIf="signInUser">
    <app-body [signInUser]="signInUser" [loading]="loading"></app-body>
</div>

