.title{
    color: #333;
    line-height: 2;
    text-align: center;
    margin-left: 15rem;
    font-size: 25px;
}
.title span {
    background: linear-gradient(to right, yellow, pink ) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1s;
}
.title span:hover{
    background-position: left bottom;
    background-size: 100% 2px;
}

.date-time-management{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nz-date-picker{
    width: 280px;
    height: 40px;
    top: 3rem;
    left: 15rem;
    
}

.ant-picker-input > input{
    font-size: 18px;
    vertical-align: middle;
    margin-top: 18px;
    pointer-events: none;
}
nz-time-picker{
    width: 280px;
    height: 40px;
    top: 3rem;
    left: 20rem;
}

.checkIn{
    margin-top: 2.9rem;
    margin-left: 25rem;
    background-color: transparent;
    font-size: 1.2rem;
    color: blueviolet;
    cursor: pointer;
    align-items: center;
    border: 2px solid rgb(31, 160, 234);
    display: flex;
    padding-right: 4px;
}