.title{
    color: #333;
    line-height: 2;
    text-align: center;
    margin-left: 15rem;
    font-size: 25px;
}
.title span {
    background: linear-gradient(to right, yellow, pink ) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1s;
}
.title span:hover{
    background-position: left bottom;
    background-size: 100% 2px;
}

.date-time-management{
    margin-top: 2.9rem;
    margin-left: 20rem;
}

.checkIn{
    background-color: transparent;
    font-size: 1.2rem;
    color: blueviolet;
    cursor: pointer;
    align-items: center;
    border: 2px solid rgb(31, 160, 234);
    display: flex;
    padding-right: 4px;
    height: 35px;
    margin-left: 2.5rem;
}

.date-picker{
    width: 200px;
    height: 35px;
}

.signIn-date{
    width: 280px;
}

.signIn-time-control{
    margin-left: 2.5rem;
}

.controlSet{
    min-height: 90px;
}


.sign-in-body{
    margin-top: 20px;
}

