.title{
    color: #333;
    line-height: 2;
    text-align: center;
    margin-left: 15rem;
    font-size: 25px;
}
.title span {
    background: linear-gradient(to right, yellow, pink ) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1s;
}
.title span:hover{
    background-position: left bottom;
    background-size: 100% 2px;
}

