<div *ngIf="!loading">
    <nz-table class="signInTable" #signInUserDateData [nzData]="signInDateList" nzTableLayout="fixed" [nzPageSize]="9" [nzBordered] = "true" [nzHideOnSinglePage]="true" [nzLoading]="loading" [nzWidthConfig]="widthConfig">
        <thead>
            <tr>
                <th>#</th>
                <th *ngFor="let column of listOfColumns" 
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections">{{column.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of signInUserDateData.data; let i = index">
                <td>{{i+1}}</td>
                <td>{{signInUser.id}}</td>
                <td>{{signInUser.firstName}}  {{signInUser.middleName}}  {{signInUser.lastName}}</td>
                <td>{{data}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>