.signIn{
    background-color: transparent;
    font-size: 1.2rem;
    margin-left: -2rem; /* 调整输入框和按钮之间的空间 */
    cursor: pointer;
    border: 2px solid blue;
    display: flex;
    padding: 3px;
}

.signInIcon{
    margin-right: 10px;
}
.signInInput{
    width: 30rem;
    max-width: 60rem;
}

.loading-icon {
    margin-right: 8px;
}
  

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-left: 15rem;
    width: 100%;
}

label {
    text-transform: none;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 35rem;
}

.title{
    color: #333;
    line-height: 2;
    text-align: center;
    margin-top: 10rem;
    margin-left: 25rem;
    font-size: 30px;
}
.title span {
    background: linear-gradient(to right, red, blue ) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size 1s;
}
.title span:hover{
    background-position: left bottom;
    background-size: 100% 2px;
}

