<div>
    <h2 class="title">
        <span>
            Sign &nbsp;in &nbsp;Page<br>
            Welcome ! 
        </span>
    </h2>
</div>
<div class="home">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateSearchUserForm" nzNoColon="true" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label nzFor="selectedSignInUserId" [nzSm]="6" [nzXs]="24">
                <span class="material-icons">person_search</span>
            </nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="50" nzErrorTip="Please Enter Your First Name or Middle Name or Last Name !">
                <nz-select nzShowSearch nzAllowClear class="signInInput" formControlName="selectedSignInUserId" id="selectedSignInUserId" nzPlaceHolder="Please Enter Your First or Middle or Last Name" 
                [nzShowArrow]="false" [nzFilterOption]="filterOption" (nzOnSearch)="search($event)" [nzStatus]="isExisted?'':'error'">
                    <ng-container *ngFor="let o of signInUsers">
                        <nz-option *ngIf="!isLoading" [nzLabel]="o.firstName + '  ' + o.middleName + '  ' + o.lastName" [nzValue]="o.id"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                        <span nz-icon nzType="loading" class="loading-icon"></span>
                        Loading Data...
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="10" [nzOffset]="12">
                <button nz-button nz-tooltip class="signIn" nzType="primary" nzShape="round" [nzTooltipTitle]="signInToolTip" [disabled]="!validateSearchUserForm.value.selectedSignInUserId">
                    <span class="material-icons signInIcon"  >assignment</span>
                    Sign In</button>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <div *ngIf="validateSearchUserForm.value.selectedSignInUserId">
                    <label nz-checkbox formControlName="isChecked" id="isChecked">I Am Human</label>
                </div>
                <div *ngIf="validateSearchUserForm.value.selectedSignInUserId && !validateSearchUserForm.value.isChecked && isShowError">
                    <nz-alert class="errorMessage" nzType="error" nzMessage="Please Mark I Am Human"></nz-alert>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>