<div class="home">
    <div class="input-wrapper">
        <input class="input signInInput" type="search" placeholder="Please enter a valid name ex. first name + middle name + last name">
        <!-- <button class="clear-btn" onclick="clearInput()">X</button>     -->
    </div>

    <!-- routerLink="/signIn"  -->
    <a class="button fancy-button signIn" [ngbTooltip]="signInToolTip">
        <span class="material-icons"  >assignment</span>
        <span class="signInText">Sign In</span>
    </a>

</div>