<div>
    <h2 class="title">
        <span>
            Sign &nbsp;in &nbsp;Page<br>
            Welcome ! 
        </span>
    </h2>
</div>
<div class="home">
    <div class="input-and-button-wrapper">
        <div class="input-wrapper" id="search-component">
            <input #searchBox id="search-box" class="input signInInput" type="search" 
            placeholder="Please enter a valid name ex. first name + middle name + last name" (input)="search(searchBox.value)"
            [(ngModel)]="searchInput">
        </div>
        <a class="button fancy-button signIn" [ngbTooltip]="signInToolTip" [routerLink]="selectedSignInUser ? ['/signInDetail', selectedSignInUser.id] : null"
        (click)="selectedSignInUser || $event.preventDefault()">    
            <span class="material-icons"  >assignment</span>
            <span class="signInText">Sign In</span>
        </a>
    </div>
    <ul class="search-result">
        <li *ngFor="let signInUser of signInUsers$ | async" (click)= "selectSignInUser(signInUser)">
            {{signInUser.firstName + ' ' + signInUser.middleName + ' ' + signInUser.lastName}}
        </li>
    </ul>
</div>